.input_text_readonly{
  border:0;
  outline: 0; 
  background: transparent; 
  border-bottom: 2px solid #F1C56B;
  font-family: "Institut", sans-serif;
}

.input_text_readonly:focus{
  outline: 0 none;
  box-shadow:0px 0px 0px;
  border:0;
  border-bottom:2px solid #f2ce84;
}
.input_text{
  border:0;
  outline: 0; 
  background: transparent; 
  border-bottom: 2px solid black;
  font-family: "Institut", sans-serif;
}
.input_text:focus{
  outline: 0 none;
  box-shadow:0px 0px 0px;
  border:0;
  border-bottom:2px solid #1ba085;
}
.p_msg{
  color:red;
}
.line_padding{
  padding-top: 10px;
  font-family: "Institut", sans-serif;
}